body {
    background-color: rgb(200, 120, 160);
}

.annotation path {
    stroke: #ff0000;
    fill: #000000;
}

path.connector {
    fill: "none";
    stroke: #000000;
}

.annotation,
.title text, .annotation text,
.annotation-subject path {
    fill: #000000;
    font-size: 14px;
    font-weight: "bold";
}